*{
    margin:0;
    padding:0;
}
@font-face {
    font-family: PP Neue Machina;
    src: url('PPNeueMachina-Regular.otf');
}
body{
    background-color: gray;
    font-family: PP Neue Machina;
}
main{
    width:100%;
    min-height:800px;
    display:flex;
    justify-content: space-around;
    align-items: center;
    flex-direction: column;
    background-color: #DBDBDB;
}
main > div{
    width:100%;
    /* height:800px; */
    display:flex;
    justify-content: space-around;
    align-items: center;
}
main > div > nav{
    width:100%;
    max-width:390px;
}
main > div > nav > ul{
    width:100%;
    /* max-width:900px; */
}
main > div > nav > ul > a > li{
    display:inline-block;
    margin:1%;
   
}
main > section{
    width:100%;
    height:800px;
    display:flex;
    justify-content: center;
    align-items: center;
    transition: all 0.5s ease-out;
}
main > section > div{
    width:100%;
    height:200px;
    display:flex;
    justify-content: space-between;
    align-items: flex-start;
    flex-direction: column;
    transition: all 0.5s ease-out;
}
main > section > div > h1{
    font-size: 70px;
}
body > main > section > div:nth-child(2){
    width:700px;
    margin-left: 150px;
    transition: all 0.5s ease-out;
}
main > section > div > button{
    width:281px;
    min-height: 50px;
    background-color: transparent;
    border-radius: 27px;
    font-size: 30px;
    transition: all 0.5s ease-out;
}
main > section > .img{
    display:block;
    width:511px;
    height:511px;
    background: linear-gradient(0.25turn,#015172,#FF603D);
    border-radius: 50%;
    filter: blur(15px);
    position: relative;
    transition: all 0.5s ease-out;
}
/* main > section > .img:hover{
    transform: translateZ(2px);
    position: absolute;
} */
main > section > .img::after{
    content: " ";
    background:#FF93D4;
    width:511px;
    height:511px;
    position: relative;
    left:150px;
    top:-150px;
    display:block;
    border-radius: 50%;
    filter:blur(15px);
    opacity: 0.3;
    transition: all 0.5s ease-out;
}
main > article{
    min-height: 100vh;
    width:100%;
    transition: all 0.5s ease-out;
}
main > article > p{
    font-size: 20px;
    margin:3%;
    transition: all 0.5s ease-out;
}

#textWrite{
    font-size: 30px;
    min-height: 200px;
    width:calc(100% - 10px);
    border: red solid 5px;
}